/*  animacao de cubo */
:root{
  --color-wpp: rgb(10, 109, 97);
  --color-instagram: rgb(133, 8, 122);
  --color-email: rgb(14, 61, 189);
  --branco: rgba(255, 255, 255, 1);
  --preto: rgba(0, 0, 0, 1);
  --verde-agua: rgb(0, 173, 181);
  --cinzaC: rgb(168, 168, 168);
}
.cube {
  position: relative;
  top: 140px;
  left: 320px;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.parte span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--preto), var(--verde-agua));
  transform: rotateY(calc(90deg * var(--i))) translateZ(20px);
}
.top {
  position: absolute;
  text-align: center;
  font-size: 8vw;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgb(57, 62, 70);
  transform: rotateX(90deg) translateZ(20px);
}
.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgb(0, 173, 181);
  transform: translateZ(-65px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(4, 0, 255, 0.2) 0 0 200px rgba(4, 0, 255, 0.4) 0 0 40px rgba(0, 4, 255, 0.6) 0 0 400px rgba(38, 0, 255, 0.8) 0 0 500px rgb(0, 2, 161);
}
/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(34, 34, 34);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.burger i{
  color: var(--branco);
  font-size: 10vw;
  margin: 10px;
  position: fixed;
  z-index: 9;
}
.menu-mobile{
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: 0.5s;
  width: 0;
  backdrop-filter: blur(6px);
  overflow: hidden;
  z-index: 9;
}
.close-menu i{
  color: var(--branco);
  font-size: 10vw;
  margin:10px;
}
.nav-mobile{
  background-color: #222222;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 65%;
  padding-left: 15px;
  z-index: 9;
}
.links-mobile-box{
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link-menu-mb{
  font-size: 7vw;
  font-weight: 600;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
.link-menu-mb:hover {
  color: var(--verde-agua);
  transform: scale(1.1);
}

.link-menu-mb::after,
.link-menu-mb::before {
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
}

.link-menu-mb::before {
  opacity: 0;
  transition: 0.2s;
  background-color: rgb(34, 34, 34);
}
.link-menu-mb::after {
  transform: scaleX(0);
  transition: 0.4s;
  transform-origin: 0% 50%;
  background-color: var(--verde-agua);
}
.links-menu:hover::before {
  opacity: 1;
}
.link-menu-mb:hover::after {
  transform: scaleX(1);
}
.redesSociais-menu{
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon-menuSocial{
  font-size: 8vw;
}
.wpp-menu {
  color: var(--color-wpp);
}
.instagram-menu {
  color: var(--color-instagram);
}
.email-menu {
  color: var(--color-email);
}

.credito-menuMobile{
  margin-bottom: 95px;
}
.credit-menu{
  color: var(--branco);
  font-size: 4vw;
  text-align: center;
  margin: auto;
}


/* main */
.text-main{
  margin: 100px 0;
}
.text-main h1{
  font-size: 9vw;
  text-align: center;
  color: var(--preto);
}
.text-main span{
  color: var(--verde-agua);
}
.text-main h3{
  font-size: 6vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.links-main{
  text-align: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.btn-main{
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}
.btn-main a{
  color: var(--branco);
  font-size: 7vw;
  
}
.git{
  background-color: rgba(69, 90, 100, 1);
}
.linke{
  background-color: rgba(2, 136, 209, 1);
}
.icon-button{
  background: rgb(57, 62, 70);
  border: 2px solid var(--verde-agua);
  border-radius: 100%;
  margin: 100px 0 100px 170px;
}
.icon-button:hover, .icon-button i:hover{
  transition: 1s transform;
  transform: scale(1.1);
  background-color: var(--verde-agua);
  color: var(--branco);
}
.icon-button i:hover{
  background-color: transparent;
}
.icon-button i{
  font-size: 10vw;
  color: var(--verde-agua);
}

/* sobre */

.content-mobile-sobre{
    text-align: center;
}
.image-pessoal img{
  border-radius: 100%;
}
.biografia h3{
  font-size: 8vw;
  margin: 20px 0;
  color: var(--branco);
}
.biografia p{
  font-size: 5vw;
  font-weight: 600;
  color: var(--cinzaC);
  margin: 0 10px;
}

/* habilidades */
#habilidades{
  margin: 100px 0;
}
.apresentacao-hab{
  font-size: 10vw;
  text-align: center;
  color: var(--verde-agua);
  margin-bottom: 50px ;
}
.box{
  margin: 40px 0;
  text-align: center;
}
.box img{
  width: 100px;
}
.text-bx{
  margin: 10px;
}
.text-bx h3{
  font-size: 7vw;
  color: var(--branco);
}
.text-bx p{
  color: var(--cinzaC);
  font-size: 5vw;
  font-weight: 600;
  margin: 0 10px;
}
.btn-documentacao{
  padding: 5px 15px;
  background-color: var(--verde-agua);
  border: none;
  border-radius: 5px;
}
.btn-documentacao a{
  color: var(--branco);
  font-size: 5vw;
  font-weight: 600;
  text-shadow: 0 0 5px var(--preto);
}
/* contatos (footer) */
footer{
  margin: 100px 0 15px 0;
  text-align: center;
}
.content-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0;
}
.content-footer a{
  font-size: 6vw;
  color: var(--branco);
}
.credit-footer{
  font-size: 5vw;
  color: var(--preto);
  font-weight: 600;
  text-align: center;

}
.credit-footer a{
  text-align: center;
  color: var(--verde-agua);
}
.content-desktop,
.content-habilidade-dsk,
.content-main-dsk,
.content-portfolio-dsk {
  display: none;
}
@media screen and (min-width: 1080px) {
  .content-mobile-sobre,
  .content-mobile-main,
  .content-mobile {
    display: none;
  }
  .content-desktop,
  .content-habilidade-dsk,
  .content-main-dsk,
  .content-portfolio-dsk {
    display: block;
  }
  .content-desktop{
    position: fixed;
    background-color: rgb(33, 33, 33);
    width: 100%;
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    margin: 20px;
  }
  .logo img{
    width: 160px;
  }
  .menu-dsk{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
  }
  .menu-dsk a{
    font-size: 1.5vw;
  }
  .btn-dsk-hdr{
    padding: 10px 25px;
    margin-right: 20px;
    background-color: var(--verde-agua);
    border: none;
    border-radius: 5px;
  }
  .btn-dsk-hdr a {
    font-size: 1vw;
    color: var(--branco);
    font-weight: 700;
  }
  .btn-dsk-hdr:hover {
    transition: 1s transform;
    transform: scale(1.1);
  }

  .content-main-dsk {
    display: flex;
    padding-top: 80px;
    margin-bottom: 250px;
    justify-content: space-between;
  }
  .image-main {
    margin: 150px 0 0 130px;
  }
  .image-main img {
    border: 3px solid var(--verde-agua);
    border-radius: 100%;
    box-shadow: 0 0 10px var(--verde-agua);
    animation: image infinite 3s linear;
    width: 250px;
  }
  .text-dsk-main {
    margin: 70px 100px 0 50px;
  }
  .text-dsk-main h3 {
    font-size: 1.3vw;
    font-weight: 200;
    color: var(--cinzaC);
  }
  .text-dsk-main h1 {
    font-size: 3.5vw;
    margin: 20px 0;
    color: var(--branco);
  }
  .text-dsk-main p {
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--branco);
  }
  .links-main-dsk {
    margin: 50px 0 0 0;
    gap: 20px;
    display: flex;
    align-items: center;
  }
  .btn-main-dsk {
    border: none;
    box-shadow: 0 0 5px var(--preto);
    padding: 10px 25px;
    border-radius: 10px;
  }
  .btn-main-dsk:hover {
    transition: 0.3s transform;
    transform: scale(1.1);
  }
  .btn-main-dsk a {
    font-size: 1.5vw;
    color: var(--branco);
  }

  /*  habilidades */
  .apresentacao-hab {
    font-size: 2vw;
  }

  .content-habilidade-mobile,
  .content-portfolio-mobile {
    display: none;
  }

  .content-habilidade-dsk {
    display: block;
  }

  .box {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: start;
  }

  .box img {
    width: 130px;
    margin-left: 100px;
  }

  .text-bx {
    margin: 0 100px 0 50px;
  }

  .text-bx h3 {
    font-size: 2.5vw;
    font-weight: 700;
  }

  .text-bx p {
    font-size: 1.8vw;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
  .btn-documentacao a {
    font-size: 1vw;
  }

  .content-portfolio-dsk {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    gap: 30px;
    align-items: center;
    
  }
  .box-dsk{
    text-align: center;
  }
  .box-dsk video{
    box-shadow: 0 0 10px var(--cinzaC);

  }
  .btn-documentacao-ptf{
    margin: 15px 0;
    padding: 10px 15px;
    background-color: var(--verde-agua);
    border: none;
  }
  .btn-documentacao-ptf a{
    font-size: 1vw;
    color: var(--branco);
    font-weight: 600;
  }
  /* footer */
  .content-footer a {
    font-size: 1.5vw;
  }

  .content-footer a:hover {
    transform: scale(1.1);
    transition: 0.8s;
  }

  .credit-footer {
    font-size: 1vw;
  }
}
@media (min-width: 728px) and (max-width: 1080px){
  .content-mobile-sobre, .content-mobile-main, .content-mobile{
    display: none;
  }
  .content-desktop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgb(33, 33, 33);
    width: 100%;
  }
  .logo{
    margin: 10px;
  }
  .logo img{
    border-radius: 100%;
  }
  .menu-dsk{
    display: flex;
    gap: 30px;
  }
  .menu-dsk a{
    font-size: 1.5vw;
    color: var(--branco);
  }
  .btn-dsk-hdr{
    padding: 10px 15px;
    border-radius: 5px;
    background: var(--verde-agua);
    border: none;
  }
  .btn-dsk-hdr:hover{
    transition: 1s transform;
    transform: scale(1.1);
  }
  .btn-dsk-hdr a{
    font-size: 1.3vw;
    color: var(--branco);
    font-weight: 700;
  }
  .content-main-dsk{
    display: flex;
    margin-bottom: 250px;
    justify-content: space-between;
  }
  .image-main{
    margin: 200px 0 0 50px;
  }
  .image-main img{
    border: 3px solid var(--verde-agua);
    border-radius: 100%;
    box-shadow: 0 0 10px var(--verde-agua);
    animation: image infinite 3s linear;
    width: 300px;
  }
  .text-dsk-main{
    margin: 130px 30px 0 30px;
  }
  .text-dsk-main h3{
    font-size: 1.7vw;
    font-weight: 200;
    color: var(--cinzaC);
  }
  .text-dsk-main h1{
    font-size: 5vw;
    margin: 20px 0;
    color: var(--branco);
  }
  .text-dsk-main p{
    font-size: 1.8vw;
    font-weight: 400;
    color: var(--branco);
  }

  .links-main-dsk{
    margin: 50px 0 0 0;
    gap: 20px;
    display: flex;
    align-items: center;
  }
  .btn-main-dsk{
    border: none;
    box-shadow: 0 0 5px var(--preto);
    padding: 10px 25px;
    border-radius: 10px;
  }
  .btn-main-dsk:hover{
    transition: 0.3s transform;
    transform: scale(1.1);
  }
  .btn-main-dsk a{
    font-size: 2vw;
    color: var(--branco);
  }
  /*  habilidades */
  .apresentacao-hab{
    font-size: 5vw;
  }
  .content-habilidade-mobile, .content-portfolio-mobile{
    display: none;
  }
  .content-habilidade-dsk{
    display: block;
  }
  .box{
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: start;
  }
  .box img{
    width: 130px;
  }
  .text-bx{
    margin: 0 100px 0 0;
  }
  .text-bx h3{
    font-size: 2.5vw;
    font-weight: 700;
  }
  .text-bx p{
    font-size: 1.8vw;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
  .btn-documentacao a{
    font-size: 1.7vw;
  }
  .content-portfolio-dsk{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .box-dsk{
    text-align: center;
  }
  .text-bx-dsk h3{
    font-size: 2.5vw;
    color: var(--branco);
  }
  .btn-documentacao-dsk {
    padding: 10px 25px;
    background-color: var(--verde-agua);
    border: none;
    margin-top: 10px;
    border-radius: 5px;
  }
  .btn-documentacao-dsk a {
    color: var(--branco);
    font-size: 1.5vw;
    font-weight: 500;
    text-shadow: 0 0 5px var(--preto);
  }

  /* footer */
  .content-footer a{
    font-size: 2vw;
  }
  .content-footer a:hover{
    transform: scale(1.1);
    transition: 0.8s;
  }
  .credit-footer{
    font-size: 1.5vw;
  }
}
