@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --font-titulo: "Inter", sans-serif;
  --font-paragrafo: "Poppins", sans-serif;
  --font-secundaria: "montserrat", sans-serif;
  --color-white: rgba(255, 255, 255, 1);
  --color-white-focus: rgba(255, 255, 255, 0.5);
  --color-black: rgba(0, 0, 0, 1);
  --color-black-focus: rgba(0, 0, 0, 0.7);
  --bg-desktop: url("./assets/bg-desktop.jpeg");
  --bg-mobile: url("./assets/bg-mobile2.jpg");
}
/* reset */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* estilizacao */
body {
  background: url(./assets/bg-mobile2.jpg) no-repeat;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  max-width: 600px;
  width: 100%;
}
/* header */
header {
  max-width: 600px;
  width: 100%;
}
.content-header {
  display: flex;
  justify-content: space-between;
}
.burguer-menu {
  align-items: flex-start;
}
#btn-open {
  background: transparent;
  margin: 25px;
}
#btn-open i {
  font-size: 10vw;
  color: rgba(255, 255, 255, 1);
}
/* menu reveal */
.menu {
  width: 0;
  height: 100%;
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 1s;
  background-color: rgba(0, 0, 0, 1);

  display: flex;
  flex-direction: column;
}
#btn-close {
  background: transparent;
}
#btn-close i {
  font-size: 10vw;
  color: rgba(255, 255, 255, 1);
}
.links-menu {
  margin: 100px 20px;
}
.links-menu nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.links-mobile {
  font-size: 6vw;
  font-weight: 600;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins";
  transition: 0.4s;
}
.links-mobile:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
}
.links-mobile::after,
.links-mobile::before {
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
}
.links-mobile::before {
  opacity: 0;
  transition: 2s;
  background-color: rgba(255, 255, 255, 0.7);
}
.links-mobile::after {
  transform: scaleX(0);
  transform-origin: 0% 50%;
  background-color: rgba(255, 255, 255, 1);
}
.links-menu:hover::before {
  opacity: 1;
}
.links-mobile:hover::after {
  transform: scaleX(1);
}
/* redes sociais logo */

.redes-menu {
  position: absolute;
  top: 600px;
  display: flex;
  gap: 40px;
}
.btn-redes-menu {
  background: transparent;
}
.btn-redes-menu a {
  font-size: 8vw;
}

.wpp-menu {
  color: rgba(7, 94, 84, 0.7);
}
.wpp-menu:hover {
  color: rgba(7, 94, 84, 1);
  text-shadow: 0 0 10px;
}
.instagram-menu {
  color: rgba(121, 0, 111, 0.7);
}
.instagram-menu:hover {
  color: rgba(121, 0, 111, 1);
  text-shadow: 0 0 10px;
}
.email-menu {
  color: rgba(6, 52, 179, 0.7);
}
.email-menu:hover {
  color: rgba(6, 52, 179, 1);
  text-shadow: 0 0 10px;
}
