@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --font-titulo: "Inter", sans-serif;
  --font-paragrafo: "Poppins", sans-serif;
  --font-secundaria: "montserrat", sans-serif;
  --color-white: rgba(255, 255, 255, 1);
  --color-white-focus: rgba(255, 255, 255, 0.5);
  --color-black: rgba(0, 0, 0, 1);
  --color-black-focus: rgba(0, 0, 0, 0.7);
  --bg-desktop: url("./assets/bg-desktop.jpeg");
  --bg-mobile: url("./assets/bg-mobile2.jpg");
}
/* reset */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* estilizacao */
body {
  background: url(./assets/bg-mobile2.jpg) no-repeat;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  max-width: 600px;
  width: 100%;
}
/* header */
header {
  max-width: 600px;
  width: 100%;
}
.content-header {
  display: flex;
  justify-content: space-between;
}
.burguer-menu {
  align-items: flex-start;
  position: fixed;
  z-index: 9;
}
#btn-open {
  background: transparent;
  margin: 25px;
}
#btn-open i {
  font-size: 10vw;
  color: rgba(255, 255, 255, 1);
}
/* menu reveal */
.menu {
  width: 0;
  height: 100%;
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 1s;
  background-color: rgba(0, 0, 0, 1);

  display: flex;
  flex-direction: column;
}
#btn-close {
  background: transparent;
}
#btn-close i {
  font-size: 10vw;
  color: rgba(255, 255, 255, 1);
}
.links-menu {
  margin: 130px 20px;
}
.links-menu nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.links-mobile {
  font-size: 6vw;
  font-weight: 600;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins";
  transition: 0.4s;
}
.links-mobile:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
}
.links-mobile::after,
.links-mobile::before {
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
}
.links-mobile::before {
  opacity: 0;
  transition: 2s;
  background-color: rgba(255, 255, 255, 0.7);
}
.links-mobile::after {
  transform: scaleX(0);
  transform-origin: 0% 50%;
  background-color: rgba(255, 255, 255, 1);
}
.links-menu:hover::before {
  opacity: 1;
}
.links-mobile:hover::after {
  transform: scaleX(1);
}
/* redes sociais logo */

.redes-menu {
  position: absolute;
  top: 600px;
  display: flex;
  gap: 40px;
}
.btn-redes-menu {
  background: transparent;
}
.btn-redes-menu a {
  font-size: 8vw;
}

.wpp-menu {
  color: rgba(7, 94, 84, 0.7);
}
.wpp-menu:hover {
  color: rgba(7, 94, 84, 1);
  text-shadow: 0 0 10px;
}
.instagram-menu {
  color: rgba(121, 0, 111, 0.7);
}
.instagram-menu:hover {
  color: rgba(121, 0, 111, 1);
  text-shadow: 0 0 10px;
}
.email-menu {
  color: rgba(6, 52, 179, 0.7);
}
.email-menu:hover {
  color: rgba(6, 52, 179, 1);
  text-shadow: 0 0 10px;
}
/* footer menu */
.footer-menu{
  position: absolute;
  top: 680px;
  right: 0;
  left: 0;
}
.footer-menu h3{
  text-align: center;
  font-size: 4vw;
  font-family: "poppins";
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 5px;
}
/* main */
main {
  max-width: 100%;
  height: 100vh;
}
/* animation cube */
.cube {
  position: relative;
  top: 140px;
  left: 320px;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.parte span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000, rgb(0, 2, 161));
  transform: rotateY(calc(90deg * var(--i))) translateZ(20px);
}
.top {
  position: absolute;
  text-align: center;
  font-size: 8vw;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #001235;
  transform: rotateX(90deg) translateZ(20px);
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgb(0, 2, 161);
  transform: translateZ(-65px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(4, 0, 255, 0.2) 0 0 200px rgba(4, 0, 255, 0.4) 0 0
    40px rgba(0, 4, 255, 0.6) 0 0 400px rgba(38, 0, 255, 0.8) 0 0 500px
    rgb(0, 2, 161);
}
/* mini text */
.name-barra {
  font-size: 4.5vw;
  color: rgb(0, 17, 255);
  font-family: "Poppins";
  font-weight: 700;
  position: relative;
  left: 90px;
  top: 140px;
  text-shadow: 0 0 5px #000;
}
.left-barra:before {
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 195px;
  left: 20px;
  bottom: 10px;
  width: 15%;
  height: 3px;
  background-color: rgb(0, 4, 255);
}

/* text principal */
.text-principal {
  position: relative;
  top: 200px;
  left: 20px;
  font-family: "poppins";
  font-weight: 500;
}
.text-principal h1 {
  font-weight: 500;
  font-family: "Poppins";
  font-size: 8vw;
}
.name-autor {
  color: rgb(0, 17, 255);
  font-size: 8vw;
  font-family: "poppins";
  font-weight: 800;
}
.text-principal p {
  font-size: 8vw;
  font-family: "Poppins";
}
/* botoes atalho main- repositorio e linkedin */
.button-main-atalho{
  position: relative;
  top: 320px;
  left: 15%;
}
.container-buttons{
  display: flex;
  gap: 20px;
}
.btn-repositorio, .btn-linkedin{
  background: transparent;
}

.btn-repositorio a, .btn-linkedin a {
  color: rgba(0, 4, 255, 1);
  font-family: "poppins";
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(0, 4, 255, 1);
  transition: color 3s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  background-color: #f6f6f6;
}
.btn-repositorio a:before, .btn-linkedin a::before{
  content: "";
  position: absolute;
  z-index: -1;
  background: rgba(0, 4, 255, 1);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.btn-repositorio a:hover, .btn-linkedin a:hover,
.wpp a:hover {
  color: #fff;
  transform: scale(1.1);
  background-color: rgba(0, 4, 255, 1);
  transition: background 0.5s;
}
.btn-repositorio a::before, .btn-linkedin a::before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.btn-repositorio a:hover a::before, .btn-linkedin a:hover a:before {
  top: -30px;
  left: -30px;
}
.btn-repositorio a:active a::before, .btn-linkedin a:active a::before {
  background: #3a0ca3;
  transition: background 0s;
}
/* SOBRE  MIM */
#sobre-mim{
  max-width: 100%;
  height: 75vh;
  background:  RGB(28 32 39);
}
.container-sobre{
  display: flex;
  flex-direction: column;

}